.wrapper{
	width: 100%;
	height: 100%;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 15px;
	background-color: #000;
}
.mainbody{
	padding-top: 60px;
	padding-left: 220px;
}
.header h3{
	width: 180px;
	margin-left: 1em;
	color: #fff;
	font-size: 25px;
}
.side-bar{
	position: fixed;
	top: 60px;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: red;
}
#tag-manage,#user-manage{
	line-height: 40px;
	background-color: #fff;
	text-align: center;
	cursor: default;
}
.child-tag li{
	line-height: 30px;
	padding-left: 30px;
	cursor: default;
}
.content{
	width: 98%;
	height: 1000px;
	margin: 0 auto;
}
/*增加导航栏模块包裹层*/
.add-tag-wrap{
	width: 80%;
	margin: 30px auto 0 auto;
	text-align: center;
}
.add-tag-title{
	margin-bottom: 20px;
}
#add-tag-content{
	width: 180px;
	height: 35px;
	line-height: 35px;
	padding-left: 5px;
	border-bottom: 1px solid #999;
}
#add-tag-department{
	width: 120px;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #999;
}
#add-tag{
	width: 120px;
	height: 35px;
	line-height: 35px;
	background-color: #FF9900;
	color: #fff;
}
.modify-tag-wrap{
	width: 80%;
	margin: 30px auto 0 auto;
}
.message-list{
	width: 80%;
	margin: 80px auto 0 auto;
	text-align: center;
	border: 1px solid #000;
}
.message-list thead{
	border: 1px solid #000;
	line-height: 30px;
}
.message-list thead th{
	border: 1px solid #999;
}
.message-list tr{
	border: 1px solid #999;
	line-height: 30px;
}
.message-list tr td{
	border: 1px solid #999;
}
.message-list tbody tr:nth-child(2n){
	background-color: #99CCCC;
}
.message-list tbody tr:nth-child(2n+1){
	background-color: #CCFFFF;
}
.modify-tag-list{
	width: 100%;
	margin-top: 20px;
}
.pass{
	width: 50px;
	height: 25px;
	line-height: 25px;
	background-color: #339933;
	color: #fff;
}
.delete{
	width: 50px;
	height: 25px;
	line-height: 25px;
	background-color: #FF0033;
	color: #fff;
}
.reload{
	width: 50px;
	height: 25px;
	line-height: 25px;
	background-color: #FF6600;
	color: #fff;
}
.modify-tag{
	width: 50px;
	height: 25px;
	line-height: 25px;
	background-color: #FF6600;
	color: #fff;
}
.delete-tag{
	width: 50px;
	height: 25px;
	line-height: 25px;
	background-color: #FF6600;
	color: #fff;
}